body{
    background-color: #151515;
}
header{
    position: relative;
    
}
.bg-black{
    background-color: black;
}
.p-custom{
    padding: 10rem;
}
.font-custom{
    font-family: 'Berkshire Swash';
    font-size: 4rem;
    color: #FF5E19;
    position: relative;
}
.custom-positioning-player{
    position: absolute;
    bottom: 0;
    left: 0;
}
.priority{
    z-index: 10;
}
.custom-positioning-ball{
    position: absolute;
    right: 0;
    bottom: 0;
}
.head-marker{
    position: absolute;
    bottom: -1.5rem;
    right: 10rem;
}
.messi-card{
    position: absolute;
    top: 4.375rem;
    right: 7.5rem;
}
.custom-size-plr{
    width: 100%;
    height: 204px;
}
.fixed-height{
 height: 305.5px;   
}
.custom-input{
    border: 0.12rem solid white;
    color: white;
    border-radius: .2rem;
    padding: .2rem;
}
.text-orange{
    color: #FF5E19;
}